#####
#keep these private for now..
TODO.txt
.projectrc
.vimlist
#####
/xx*
/yy*
/zz*
/foo*
/junk*
/*.log
/trash*/
~*
*.swp
#created by: jekyll new .
#note:  the _site dir is created on github whenever the source is updated.
_site
.sass-cache
